// default variable overrides
$body-bg: #fff;
// $dark: blue;
$body-color: #232;
$border-color: #555;
$nav-link-color: #ccc;
$primary: green;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
