
$primary: green;
$border-color: #555;
$nav-link-color: lighten($primary, 10%);
$link-color: lighten($primary, 10%);
$dark-rgb: rgb(33, 37, 41);
$link-decoration: none;
$card-bg: lighten($dark-rgb, 10%);
$dropdown-bg: $dark-rgb;
$dropdown-link-hover-bg: lighten($dark-rgb, 10%);
@font-face {
    font-family: 'Roboto';
    src: local('RobotoCondensed-Light'), url(../fonts/RobotoCondensed-Light.ttf) format('truetype');
}
$font-family-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

.alt-shade-rows > *:nth-child(odd) {
    background-color: lighten($dark-rgb, 5%);
}

.alt-shade-rows > *:nth-child(even) {
    background-color: lighten($dark-rgb, 10%);
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/utilities/api';

$utilities: map-merge(
    $utilities,
    (
        "nav-item": (
            property: background-color,
            class: nav-item,
            state: hover,
            values: shade-color($dark-rgb, 10%),
        ), 
    )
);

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: $primary;
    text-transform: uppercase;
    padding: 9px 12px;
    background-color: transparent;
    border: 2px solid lighten(rgba(0, 128, 0, 0.5), 5%);
    border-radius: 4px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
}

.glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: $primary;
}

.navbar-light .navbar-nav .nav-link {
    font-size: larger;
    color: lighten($primary, 10%); }
    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
      color: lighten($primary, 20%); }
    .navbar-light .navbar-nav .nav-link.disabled {
      color: rgba(0, 0, 0, 0.3); }

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: darken($primary, 1%);
}

.navbar-light .navbar-nav .show > .nav-link:hover,
.navbar-light:hover .navbar-nav:hover .nav-link.active:hover {
    color: lighten($primary, 20%);
}

.nav-link.active {
    color: lighten($primary, 20%);
}

.login-label {
    min-width: 110px;
    letter-spacing: 2px;
}

.login-submit-btn {
    letter-spacing: 10px;
}